PackageIdentifier: CyberT33N.GitGovernance
PackageVersion: "{{VERSION}}"
PackageLocale: en-US
Publisher: CyberT33N
PublisherUrl: https://github.com/CyberT33N
PublisherSupportUrl: https://github.com/CyberT33N/git-governance/issues
PackageName: git-governance
PackageUrl: https://github.com/CyberT33N/git-governance
License: Proprietary
LicenseUrl: https://github.com/CyberT33N/git-governance/blob/main/LICENSE
ShortDescription: Native CLI for governed Git branches, commits, and workflows.
ManifestType: defaultLocale
ManifestVersion: 1.6.0
